---
import { getPublishedEntries } from "../../utils/collections";
import ProseLayout from "../../layouts/ProseLayout.astro";

const sortedBlogPosts = (await getPublishedEntries("blog")).sort(
  (a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime(),
);

const frontmatter = {
  title: "Blog",
};
---

<ProseLayout frontmatter={frontmatter}>
  <ul>
    <p>
      {
        sortedBlogPosts.map((blogPost) => {
          return (
            <li>
              <a href={`/blog/${blogPost.id}`}>{blogPost.data.title}</a>
              <span class="date">
                {blogPost.data.publishedOn.toLocaleDateString("en-US", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                })}
              </span>
              {blogPost.data.tags.length > 0 && (
                <span class="tags">
                  {blogPost.data.tags.map((tag) => (
                    <a href={`/tags/${tag}`} class="tag">
                      {tag}
                    </a>
                  ))}
                </span>
              )}
            </li>
          );
        })
      }
    </p>
  </ul>
</ProseLayout>

<style>
  ul {
    list-style: none;
  }

  .date {
    font-size: 0.9rem;
    font-variant: small-caps;
    margin-left: 0.5rem;
  }

  .tags {
    margin-left: 0.5rem;
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .tag {
    font-size: 0.8rem;
    font-variant: small-caps;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
  }

  .tag:hover {
    opacity: 1;
    text-decoration: underline;
  }
</style>
